<div class="container">
  <footer class="d-flex p-3 bg-dark flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <img src="logo.jfif" alt="Logo" width="50" height="50" class="rounded-5 me-2">
      <a routerLink="/">App RickyMorti</a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="" routerLink="/">Inicio</a></li>
      <li class="ms-3"><a class="" routerLink="/rickyMorti/characters">Personajes</a></li>
      <li class="ms-3"><a class="" routerLink="/rickyMorti/episodes">Episodios</a></li>
    </ul>
  </footer>
</div>
