
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <h1 class="display-5 fw-bold">Rick and Morty API</h1>
          <p class="fs-4">
            Desarrollado con Angular 19, esta aplicación es parte del proyecto del Superior en Desarrollo de Aplicaciones Web, combinando tecnología moderna y el multiverso de Rick & Morty.
          </p>
          <ul class="fs-5">
            <li>🚀 Explorar los personajes, episodios y ubicaciones de la serie usando la <a href="https://rickandmortyapi.com/">API</a> de Rick & Morty. </li>
            <li>🔑 Iniciar sesión para guardar tus puntuaciones</li>
          </ul>
        </div>

        <div class="col-12 col-md-6 text-center">
          <img src="jubotron.jpg" class="img-fluid rounded-5 w-75" alt="Rick and Morty">
        </div>
      </div>
